<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<header th:insert="blocks/header :: header"></header>
<body>
<body classname="snippet-body">
<div class="row py-5 px-4"> <div class="col-md-5 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
            <div class="media align-items-end profile-head">
                <div class="profile mr-3 mt-3">
                    <img src="https://www.iconpacks.net/icons/2/free-warrior-helmet-icon-2750-thumb.png"
                         alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    <a th:href="@{/profileEdit/{id}(id=${user.id})}" class="btn btn-outline-dark btn-sm btn-block">Редактировать</a>
                </div>
                <div class="media-body mb-5 text-black">
                    <h4 class="mt-0 mb-0" th:text="${user.username}"></h4>
                    <p class="small mb-4">
                        <i class="fas fa-map-marker-alt mr-2" th:text="${rank}"></i></p>
                </div>
                <div class="media-body ms-5 ps-5 text-black">
                    <h4 class="ms-0 ps-0" th:text="${user.level + ' lvl'}"></h4>
                    <div class="progress" style="height: 25px">
                        <div class="progress-bar" role="progressbar" th:style="'width:' + ${user.experience} + '%;'" th:text="${user.experience}"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-center text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <img src="https://vectorified.com/image/health-icon-vector-12.png"
                         alt="..." width="45">
                    <h5 class="font-weight-bold mb-0 d-block" th:text="${user.health}"></h5>
                    <small class="text-muted">
                        <i class="fas fa-image mr-1"></i>Здоровье</small>
                </li>
                <li class="list-inline-item">
                    <img src="https://img.icons8.com/glyph-neue/344/flex-biceps.png"
                         alt="..." width="45">
                    <h5 class="font-weight-bold mb-0 d-block" th:text="${user.strength}"></h5>
                    <small class="text-muted">
                        <i class="fas fa-user mr-1"></i>Сила</small>
                </li>
                <li class="list-inline-item">
                    <img src="https://img.icons8.com/glyph-neue/344/brain.png"
                         alt="..." width="45">
                <h5 class="font-weight-bold mb-0 d-block" th:text="${user.intelligence}"></h5>
                <small class="text-muted">
                    <i class="fas fa-user mr-1"></i>Интеллект</small>
                </li>
                <li class="list-inline-item">
                    <img src="https://cdn.icon-icons.com/icons2/3353/PNG/512/strategy_brainstorming_idea_creative_creativity_innovation_brainstrom_icon_210480.png"
                         alt="..." width="45">
                    <h5 class="font-weight-bold mb-0 d-block" th:text="${user.creativity}"></h5>
                    <small class="text-muted">
                        <i class="fas fa-user mr-1"></i>Креативность</small>
                </li>
                <li class="list-inline-item">
                    <img src="https://cdn.icon-icons.com/icons2/750/PNG/512/group-3_icon-icons.com_63770.png"
                         alt="..." width="45">
                    <h5 class="font-weight-bold mb-0 d-block" th:text="${user.communication}"></h5>
                    <small class="text-muted">
                        <i class="fas fa-user mr-1"></i>Общение</small>
                </li>
            </ul>
        </div>
        <div class="py-4 px-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
            </div>
        </div>
        <div class="mb-2 ms-2">
            <a class="btn btn-secondary" href="/logout" role="button">Выйти</a>
            <a class="btn btn-danger" href="/userDel" role="button">Удалить</a>
        </div>
    </div>
</div>
</div>
</body>
</body>
</html>